<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcript Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Transcript Search!</h1>
    <form action="/search" method="get">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" placeholder="Enter search term...">
        <button type="submit">Search</button>
    </form>

    {% if results %}
    <div class="results">
        {% for result in results %}
            <div class="result">
                <div class="left-column">
                    <div class="thumbnail-container">
                        <a href="{{ result[5] }}&t={{ result[2]|int }}s" target="_blank"><img class="thumbnail" src="{{ result[6] }}" alt="Thumbnail"></a>
                    </div>
                </div>
                <div class="right-column">
                    <h3>{{ result[3]|safe }} - {{ result[4] }}</h3>
                    <p><b>Text: </b>{{ result[1] }}</p>
                    <p><b>Start time: </b>{{ result[2] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>
